.header {
    height: 150px;
    width:100%;
    background: #b30c0c;
}
.logoContainer {
    height:150px;
    width:30%;
    float:left;
}
.navBarContainer {
    height:150px;
    width:70%;
    float: right;
}